:root {
  --light-text: #ffffff;
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --outline: hsl(217, 16%, 45%);
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--outline);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
  width: 750px;
  margin-top: 2rem;
}
.title img {
  width: 100%;
}
.score {
  width: 150px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score h1 {
  color: var(--dark-text);
  font-size: 4rem;
}
.score p {
  color: var(--score-text);
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}
.hands {
  width: 476px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.circle {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userHand,
.computerHand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rock {
  border: 25px solid red;
}
.paper {
  margin-right: 20px;
  border: 25px solid blue;
}
.scissors {
  border: 25px solid yellow;
  margin-left: 20px;
}
.shadow {
  background: hsl(237, 49%, 15%);
}
.hands .circle {
  cursor: pointer;
  transition: all 0.25s;
}
.hands .circle:hover {
  transform: translate3d(0px, -8px, 8px);
}
.contest {
  width: 70vw;
  display: flex;
  margin-top: 40px;
  display: none;
}
.contest .circle {
  width: 220px;
  height: 220px;
}
.contest > div {
  flex: 1;
}
.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.contest .handImageContainer {
  display: flex;
  justify-content: center;
}
.refree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.refree h1 {
  font-size: 2em;
}
.newGame {
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  color: hsl(229, 25%, 31%);
  cursor: pointer;
  transition: all 0.15s;
  font-weight: 500;
}
.newGame:hover {
  background-color: white;
  color: red;
  transform: translate3d(0, -2px, 0);
}
.Rulesbutton {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  margin-right: 50px;
  margin-bottom: 20px;
}
.Rulesbutton button {
  background-color: inherit;
  padding: 10px 40px;
  border-radius: 8px;
  letter-spacing: 1.5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.Rulesbutton button:hover {
  background-color: white;
  color: black;
}
.modalContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.modalRules {
  display: flex;
  justify-content: space-between;
}
.modalRules h1 {
  color: hsl(229, 25%, 31%);
}
.modalRules img {
  height: 25px;
  cursor: pointer;
}
.RulesImage {
  margin: 50px 30px 20px;
}
.bg_shadow {
  background-color: black;
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 769px) {
  .scoreboard {
    width: 80vw;
  }
  .score {
    width: 70px;
    height: 70px;
  }
  .score p {
    font-size: 15px;
  }
  .score h1 {
    font-size: 2rem;
  }
  .title img {
    width: 70%;
  }
  .Rulesbutton {
    justify-content: center;
    margin: 0 0 10px 0;
    position: absolute;
    bottom: 20px;
  }
  .hands {
    width: 75vw;
    background-size: 250px auto;
  }
  .contest .circle {
    width: 150px;
    height: 150px;
    margin-right: 0;
  }
  .contest {
    margin-top: 20px;
    width: 100vw;
  }
  .refree {
    position: absolute;
    bottom: 100px;
    left: calc(100% - 60%);
  }
  .refree h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .newGame {
    padding: 10px 40px;
    font-weight: 600;
  }
  .userHand h1,
  .computerHand h1 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 550px) {
  .hands {
    width: 80vw;
    background-size: 220px auto;
  }
  .circle {
    height: 130px;
    width: 130px;
  }
  .modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalRules img {
    position: absolute;
    bottom: 50px;
    left: 50%;
  }
  .modalRules h1 {
    position: absolute;
    top: 10%;
    left: 40%;
  }
  .refree {
    left: calc(100% - 70%);
  }
}
